/*Burgh Castle 360 Experience*/

/*BODY*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 30px;
    width: 100%;
    height: 100%;
}

/*FONT*/
@font-face {
    font-family: "sofia-bold";
    src: url(../font/sofiabold.otf) format('opentype');
}

/*TYPOGRAPHY*/
h1, t1, p {
    font-family: sofia-bold;
    color: white;
}

t1 {
    font-size: 60px;
    text-align: right;
}

p {
    font-size: 42px;
}

/*HEADER*/
.header, .logo, #dragonfly {
    position: fixed;
    height: 160px;
}

.header {
    background-color: #637B5B;
    z-index: 1;
    width: 100%;
}

/*HEADER ASSETS*/
.logo {
    background-color: #556C4E;
    z-index: 2;
    width: 160px;
}

#dragonfly {
    position: absolute;
    width: 160px;
    transform: rotate(35deg);
    background-image: url('../images/dragonfly.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

#title {
    position: absolute;
    right: 0;
    margin-right: 10%;
    top: 0;
    margin-top: 3.5%;

}

/*ELEMENTS*/
.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.pg {
    height: 100vh;
}

/*Experience buttons*/
.exp-button {
    position: relative;
    width: 100%;
    height: 33.3%;
    float: left;
}

#landscape, #cultural, #ecology, #pg0, #pg2, #pg4, .info-box-image, .help-box-image, .info-button, .button {
    background-size: cover;
    background-position: center;
}

#landscape {
    background-image: url('../images/landscape.jpg');
}

#cultural {
    background-image: url('../images/social.jpg');
}

#ecology {
    background-image: url('../images/ecology.jpg');
}

.exp-button-text, .opacity {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.exp-button-text {
    z-index: 5;
}

.opacity {
    background-color: black;
    opacity: 0.6;
    z-index: 4;
    height: 15%;
}

#pg0 {
    background-image: url('../images/landing-bg.jpg');
}

#pg2 {
    background-image: url('../images/reeds.jpg');
}

#pg4 {
    background-image: url('../images/burghcastle2.jpg');
}

/*INFO BOX*/
.info-box {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 12.5%;
    width: 75%;  
    border-radius: 49px;
}

.info-box-info {
    z-index: 6;
    margin-top: 75%;
    background-color: #637B5B;
    height: 35%;
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 50px;
}

.info-box-title {
    z-index: 7;
    background-color: #556C4E;
    margin-top: 70%;
    height: 150px;
    text-align: center;
    font-size: 26px;
    padding: 35px;
}

.info-box-image, .help-box-image {
    z-index: 6;    
    margin-top: 30%;
    height: 600px;
}

.info-box-image {
    background-image: url('../images/castle.jpg');
}

.landing {
    background-image: url('../images/broads.jpg');
}

.help-box-image {
    background-image: url('../images/castlewall.jpg');
}

.info-long {
    height: 35% !important;
}

/*INFO*/
.info-button {
    background-image: url('../images/info.png');
    width: 65px;
    height: 65px;
    position: absolute;
    right: 0;
    margin-right: 1.5%;
    top: 0;
    margin-top: 4.5%;
}


/*NEXT AND PREV PAGE BUTTON*/
.button {
    background-image: url('../images/next.png');
    width: 170px;
    height: 170px;
    position: absolute;
    bottom: 0;
    margin-bottom: 3.5%;
}

.prev {
    left: 0;
    margin-left: 12.5%;
    transform: rotate(180deg);
}

.next {
    right: 0;
    margin-right: 12.5%;
}

/*PANO*/
.pan0 {
    background: url('../images/pano.jpg');
    background-size: cover;
}

.pan-wrap {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    cursor: e-resize;
}

.play {
    display: inline-block;
    background: rgba(0, 0, 0, 0.71);
    height: 25px;
    width: 75px;
    border-radius: 15px;
    padding-top: 5px;
    font-size: 14px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -34px;
    position: absolute;
}

/*Landscape*/
@media only screen and (orientation: landscape) {

    p {
        font-size: 20px;
    }

    t1 {
        font-size: 35px;
    }

    #title {
        margin-top: 1.5%;
    }

    .info-button {
        width: 45px;
        height: 45px;
        margin-top: 2%;
    }

    .header, .logo, .title {
        height: 80px;
    }

    .logo, #dragonfly {
        width: 80px;
        height: 80px;
    }

    #dragonfly {
        background-size: 50px;
    }

    .container {
        height: 100%;
    }

    .exp-button {
        position: relative;
        width: 33.3%;
        height: 100vh;
    }

    .info-box {
        width: 40%;
        margin-left: 30%;
        border-radius: unset;
    }

    .info-box-info {
        margin-top: 28%;
        height: 42%;
        border-radius: 0px 0px 29px 29px;
        padding: 3.5%;
    }

    .info-box-title {
        z-index: 7;
        margin-top: 23%;
        height: 75px;
        font-size: 16px;
        padding: 20px;
        border-radius: 29px 29px 0px 0px;
    }

    .info-box-image, .help-box-image {
        z-index: 6;
        margin-top: 10%;
        height: 175px;
        border-radius: 29px 29px 0px 0px;
    }

    .button {
        position: absolute;
        width: 90px;
        height: 90px;
        z-index: 15;
        margin-bottom: 20%;
    }

    .next {
        margin-right: 2%;
    }

    .prev {
        margin-left: 2%;
    }
}